.tile{

    background-color: gray;
    overflow: hidden;
}
#main_game{

    display:inline-grid;
    grid-gap: 1px;
    background-color: lightblue;

    position: absolute;
    margin-left: 100px;
    margin-top: 50px;


}
